@import "../scss/mixins.scss";

.div {
    @include divSet;
}

.div2 {
    @include divSet;
    background-color: #3a3b93;
}

.col {
    @include colSet;
}

.colImg {
    @include colSet;
    justify-content: center;
    align-items: center;
}

.title {
    @include titleSet;
}

.title2 {
    @include titleSet;
    color: white;
}

.smallerText {
    opacity: 80%;
    @include font(20px,400,#656576);
    padding: 30px 0px;
}

.img {
    width: 67%;
}

.btnText {
    color: #494a9c;
    @include font(15px);
    font-Weight: 700;
}

@media screen and (max-width:480px) {
    .div,.div2{
        flex-direction: column;
        padding: 50px 13%;
    }
    .col,.colImg{
        justify-content: center;
        align-items: center;
        width:100%;
        margin-bottom: 15px;
        p{
            text-align: center;
        }
        .title,.title2{
            font-size: 35px;
        }
    }
}