.div,.div2{
    display: flex;
    flex-direction: row;
    padding: 130px 13%;
    justify-content: space-around;
    background-color : white;
}
.div2{
    background-color: #3a3b93;
}
.col,.colImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}
.colImg{
    justify-content: center;
    align-items: center;
}

.title,.title2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #101030;
}
.title2{
    color: white;
}

.smallerText{
    color: #656576;
    opacity: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 30px 0px;
}

.img {
    width:67%;
}

.btnText{
    color: "#494a9c"; 
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-Weight: 700;
}