@import "../scss/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navBar {
    @include flex(row);
    width: 100%;
    padding: 5px 10px 5px 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 13%;
}

.name {
    @include font(1.5em, bold, white);

}

.links {
    @include flex(row);
    align-items: center;
}

.link {
    color: white;
    opacity: 30%;
    text-decoration: none;
    margin: 20px;
    transition: 0.2s linear;
}

.link:hover {
    opacity: 100%;
}

.btnText {
    @include font(15px, 700, #494a9c);
}


@media screen and (max-width : 480px) {
    .links{
        display: none;
    }
    .name {
        @include font(2.5em, bold, white);
    }
    .navBar {
        justify-content: center;
    }
}