@import "../scss/mixins.scss";

.div {
    @include flex(row);
    padding: 130px 13%;
    background-color: #101030;
    justify-content: space-evenly;
}

.col {
    @include flex(column);
    margin: 35px;
}

.title {
    @include font(25px, 400, white);
    margin-bottom: 20px;
}

.text {
    @include textSet;
}

.text2 {
    @include textSet;
    &:hover {
        color: white;
    }
}

@media screen and (max-width:480px) {
    .div{
        flex-direction: column;
        padding: 50px 13%;
    }
    .col{
        align-items: center;
        margin: 20px;
    }
    .text{
        text-align: center;
    }
    
}