.div{
    display: flex;
    flex-direction: row;
    padding: 130px 13%;
    background-color: #101030;
    justify-content: space-evenly;
}
.col{
    display: flex;
    flex-direction: column;
    margin  : 35px;
}
.title{
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
}

.text,.text2{
    color: #656576;
    opacity: 80%;
    font-size: 15px;
    text-decoration: none;
    margin: 5px 0px;
    transition: color 0.2s linear;
}

.text2:hover{
    color: white;
}